@model IEnumerable<_TaskRecordsViewModel>


<div class="row">
    <div class="animated flipInY col-lg-3 col-md-6 col-sm-6  ">
        <div class="tile-stats">
            <div class="icon">
                <i class="fas fa-trophy"></i>
            </div>
            <div class="count">@ViewBag.completedpercent%</div>

            <h3>任務完成度</h3>
        </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6  ">
        <div class="tile-stats">
            <div class="icon">
                <i class="fas fa-star"></i>
            </div>
            <div class="count">@ViewBag.completedcount</div>

            <h3>任務完成總數</h3>

        </div>
    </div>

    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6  ">
        <div class="tile-stats">
            <div class="icon">
                <i class="fas fa-scroll"></i>
            </div>
            <div class="count">@ViewBag.count</div>

            <h3>任務發放總數</h3>
        </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6  ">
        <div class="tile-stats">
            <div class="icon">
                <i class="fas fa-user-alt"></i>
            </div>
            <div class="count">@ViewBag.personcount</div>
            <h3>參與人數</h3>
        </div>
    </div>
</div>

<h4>任務完成狀況</h4>
<div class="container">
    <div class="row">
<div class="col-12 col-md-6">
    <table class="table table-striped jambo_table bulk_action">
        <thead>
            <tr class="even pointer">
                <th>
                    任務名稱
                </th>
                <th>
                    任務發放次數
                </th>
                <th>
                    任務完成次數
                </th>
                <th>
                    任務完成率
                </th>
            </tr>
        </thead>
        <tbody class="list">

            @foreach (var item in @ViewBag.Tasktotal)
            {
                <tr class="odd pointer" id="Searchform">
                    <td>@item.Content</td>
                    <td>@item.Count</td>
                    <td>@item.TrueCount</td>
                    <td>@item.Percentage%</td>
                </tr>
            }
        </tbody>
    </table>
    <nav aria-label="Page navigation example" style="display: flex; align-items: center;">
        <ul class="pagination info">

            @if (@ViewBag.currentpages - 1 > 0)
            {
                <li class="page-item">
                      <a class="page-link pagebtn"  data-page="@(ViewBag.currentpages - 1)">上一頁</a>
                </li>
            }
            else
            {
                <li class="page-item disabled">
                            <a class="page-link pagebtn">第一頁</a>
                </li>
            }

            @for (int i = 1; i <= @ViewBag.totalpages; i++)
            {
                <li class="page-item @(@ViewBag.currentpages==i ? "active " : "")">
                    @if (@ViewBag.currentpages == i)
                    {
                                <a class="page-link pagebtn active" href="#" data-page="@i">@i</a>
                    }
                    else
                    {
                         <a class="page-link pagebtn"  href="#" data-page="@i">@i</a>

                    }
                </li>
            }
            @if (@ViewBag.currentpages + 1 <= @ViewBag.totalpages)
            {
                <li class="page-item">
                       <a class="page-link pagebtn" data-page="@(ViewBag.currentpages + 1)">下一頁</a>
                </li>
            }
            else
            {
                <li class="page-item disabled">
                            <a class="page-link pagebtn">最後一頁</a>
                </li>
            }
        </ul>
        <h6 style="color:#445366;display:block;margin-left:10px">共 @ViewBag.totaltask 筆</h6>
    </nav>
</div>
        <div class="col-12 col-md-6">
            <div id="mycharts" style="height: 400px;"></div>
        </div>
</div>
</div>

<script>
    //繪製圖表
    var rewardNames = [];  //抓取繪製圖表的數據
    @if (ViewBag.CountReward != null)
    {
        foreach (var item in ViewBag.CountReward)
        {
            <text>rewardNames.push('@item');</text>
        }
    }

        var rewardCounts = [];  //抓取繪製圖表的數據
    @if (ViewBag.CountCounts != null)
    {
        foreach (var count in ViewBag.CountCounts)
        {
            <text>rewardCounts.push(@count);</text>
        }
    }

    // 確定資料不是空值才生成
    if (rewardNames.length > 0 && rewardCounts.length > 0) {
        var pieData = rewardNames.map(function (name, index) {
            return { name: name, value: rewardCounts[index] };
        });

 //繪製圖表
        var myChart = echarts.init(document.getElementById('mycharts'));
        var option = {
            title: {
                text: '任務獎勵完成分布',
                left: 'center',
            textStyle: {
                    color: '#445366',
                fontSize: 20, 
                fontWeight: 'bold'
            }
            },
            textStyle: {
                fontSize: 15,
            },
            tooltip: {
                trigger: 'item'
            },
            color: ['#A3C1DA', '#7EB3D0', '#5DA5C8', '#3A8CBE', '#1D75B5', '#006D9C'],
            series: [{
                name: '任務獎勵',
                type: 'pie',
                radius: '50%',
                data: pieData,
                emphasis: {
                    itemStyle: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                },
                label: {
                    formatter: '{b}元 共完成{c}次 ({d}%)' // 顯示的數據格式
                }
            }]
        };

        myChart.setOption(option);
    } else {
        console.error("沒有資料");
    }
</script>