@model IEnumerable<goodbyecouchpotato.Areas.OpinionManagement.viewmodel.Optionviewmodel>

@{
    ViewData["Title"] = "Index";
}

<h1>尚未處理之意見</h1>

<table class="table" style="width:600px ;margin-left: auto; margin-right: auto;">
    <thead style="font-size:20px ; text-align: center;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FeedbackNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            @* <th>
            @Html.DisplayNameFor(model => model.Content)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Submitted)
            </th>
            @*  <th>
            @Html.DisplayNameFor(model => model.ProActive)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.ProDate)
            </th> *@
            <th>
                處理
            </th>

        </tr>
    </thead>
    <tbody style="font-size:16px">
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align: center; vertical-align: middle;">
                    @Html.DisplayFor(modelItem => item.FeedbackNo)
                </td>
                <td class="ml-2" style=" vertical-align: middle;">
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                @* <td>
            @Html.DisplayFor(modelItem => item.Content)
            </td> *@
                <td style="text-align: center; vertical-align: middle;">
                    @Html.DisplayFor(modelItem => item.Submitted)
                </td>
                @* <td>
            @Html.DisplayFor(modelItem => item.ProActive)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.ProDate)
            </td> *@
                <td>

                    <button style="display: block; margin: 0 auto;" class="btn btn-info"> <a asp-action="Details" asp-route-id="@item.FeedbackNo" style="color:black;font:bold "> 回覆</a>  </button>




                    @* <a asp-action="Details" asp-route-id="@item.FeedbackNo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FeedbackNo">Delete</a> *@
                </td>
            </tr>
        }
    </tbody>
</table>
