@using X.PagedList.Mvc.Core
@using X.PagedList
@model IPagedList<goodbyecouchpotato.Areas.OpinionManagement.viewmodel.Optionviewmodel>
@* @{
    ViewData["Title"] = "Index";
} *@

<h1>客服管理</h1>
<h5>已回覆</h5>
<form asp-controller="Option" asp-action="Index2" method="get" style="text-align: center">
    <input type="search" id="search" name="search" placeholder="請輸入欲搜尋之信箱或日期(MM-dd)" style="height:35px;width:250px" value="@ViewData["inputword"]" autocomplete="off" />
    <button type="submit" class="btn btn-info">搜尋</button>
</form>
<hr />
<table class ="table table-striped jambo_table bulk_action" style="width:800px ;margin-left: auto; margin-right: auto;">
    <thead class="even pointer" style="font-size:18px ; text-align: center;">
        <tr class="odd pointer">
            <th><i class="fa-solid fa-list-ol"></i> &nbsp;@Html.DisplayNameFor(model => model.First().FeedbackNo)</th>
            <th><i class="fa-regular fa-envelope"></i> &nbsp;@Html.DisplayNameFor(model => model.First().Email)</th>
            <th><i class="fa-solid fa-calendar"></i> &nbsp;@Html.DisplayNameFor(model => model.First().Submitted)</th>
            <th>
                <i class="fa-solid fa-calendar-check"></i> &nbsp;@Html.DisplayNameFor(model => model.First().ProDate)
            </th>
            <th><i class="fas fa-wrench"></i>&nbsp;處理</th>
        </tr>
    </thead>
    <tbody style="font-size:14px">
        @foreach (var item in Model)
        {
            <tr class="odd pointer">
                <td style="text-align: center; vertical-align: middle;">
                    @Html.DisplayFor(modelItem => item.FeedbackNo)
                </td>
                <td class="ml-2" style=" vertical-align: middle;">
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td style="text-align: center; vertical-align: middle;">
                    @Html.DisplayFor(modelItem => item.Submitted)
                </td>
                <td style="text-align: center; vertical-align: middle;">
                    @Html.DisplayFor(modelItem => item.ProDate)
                </td>

                
                <td style="text-align: center; vertical-align: middle;">
<a class="btn btn-info col-10" asp-action="Details" asp-route-id="@item.FeedbackNo" > 檢視</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div style="display: flex; justify-content: center; margin-top: 20px;">
    @Html.PagedListPager(Model, page => Url.Action("Index2", new { page, search = ViewData["inputword"] }),
            new PagedListRenderOptions
    {
        LiElementClasses = new string[] { "custom-page-item" },
        PageClasses = new string[] { "pagebtn" }


    })
</div>