@model _AccessoriesViewModel

@* @{
    ViewData["Title"] = "Details";
} *@

<h1>商品詳細</h1>

    <hr />
<div class=" formcenter"  style="width:500px ; height:725px">
    @* <div class="formcenter"> *@
        <dl class="row col-md-6 formcenter">
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.PCode)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.PCode)
        </dd>
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.PName)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.PName)
        </dd>

        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.PClass)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.PClass)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.PPrice)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.PPrice)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.PImageShop)
        </dt>
        <dd class = "col-sm-6">
            <partial name="_ShowPhotoPartial" />
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.PImageAll)
        </dt>
        <dd class = "col-sm-6">
            <partial name="_ShowAllPhotoPartial" />
        </dd>
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.PActive)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.PActive)
        </dd>
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.PReviewStatus)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.PReviewStatus)
        </dd>
    </dl>
    </div>
@* </div> *@
<div>
    <a asp-action="Index">回到商品列表</a>
</div>
        
