@model _AccessoriesViewModel


@* @{
    ViewData["Title"] = "Edit";
} *@

<h1>編輯</h1>

<hr />
<div class="row">
    <div class="col-md-4 formcenter">
        <form asp-area="ProductManagement" asp-controller="AccessoriesLists" asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PCode" class="control-label">@Html.DisplayNameFor(m => m.PCode)</label>
                <input asp-for="PCode" type="text" class="form-control" autocomplete="off" readonly />
                <span asp-validation-for="PCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PClass" class="control-label">@Html.DisplayNameFor(m => m.PClass)</label>
                <select asp-for="PClass" class="form-control" aria-label="Default select example">
                    <option value="">---請選擇---</option>
                    <option value="髮型">髮型</option>
                    <option value="衣服">衣服</option>
                    <option value="飾品">飾品</option>
@*                     <option value="家具">家具</option> *@
                </select>
                <span asp-validation-for="PClass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PName" class="control-label">@Html.DisplayNameFor(m => m.PName)</label>
                <input asp-for="PName" class="form-control" />
                <span asp-validation-for="PName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PPrice" class="control-label">@Html.DisplayNameFor(m => m.PPrice)</label>
                <input asp-for="PPrice" type="text" class="form-control" autocomplete="off" min="0" />
                <span asp-validation-for="PPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PLevel" class="control-label">@Html.DisplayNameFor(m => m.PLevel)</label>
                <input asp-for="PLevel" type="text" class="form-control" autocomplete="off" min="0" />
                <span asp-validation-for="PLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div>
                    <label asp-for="PImageShop" class="control-label">@Html.DisplayNameFor(m => m.PImageShop)</label>
                </div>
                <partial name="_ShowPhotoPartial" />
                <input asp-for="PImageShop" id="PImageShop" type="file" accept="image/*" class="form-control" />
            </div>
            <div class="form-group">
                <div>
                    <label asp-for="PImageAll" class="control-label">@Html.DisplayNameFor(m => m.PImageAll)</label>
                </div>
                <partial name="_ShowAllPhotoPartial" />
                <input asp-for="PImageAll" type="file" accept="image/*" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="PActive" class="control-label">@Html.DisplayNameFor(M => M.PActive)</label>
                <select id="PActive" asp-for="PActive" class="form-control">
                    <option value="true">已啟用</option>
                    <option value="false">未啟用</option>
                </select>
                <span asp-validation-for="PActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PReviewStatus" class="control-label">@Html.DisplayNameFor(m => m.PReviewStatus)</label>
                <input asp-for="PReviewStatus" class="form-control" readonly/>
                <span asp-validation-for="PReviewStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="修改" class="btn btn-info" />
@*                 @if (!Model.PActive)
                {
                    <button type="button" class="btn btn-warning disabled" id="deactivateBtn">下架商品</button>
                }
                else
                {
                    <button type="button" class="btn btn-warning" id="deactivateBtn" as">下架商品</button>
                } *@
            </div>
        </form>
    </div>
</div>

<!--https://bootstrap5.hexschool.com/docs/5.1/components/modal/#live-demo-->
<!--顯示圖片的區域 -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <img id="modalImage" src="" class="img-fluid" />
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">返回商品列表</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        //點擊後顯示圖片
        function viewImage(imageElement) {
            var imageSrc = $(imageElement).attr('src');
            $('#modalImage').attr('src', imageSrc);
            $('#imageModal').modal('show');
        }

        // 圖片預覽
        $("#PImageShop").on("change", function () {
            previewImage(this, $("#PImageShop").prev());
        });

        // 圖片預覽
        $("#PImageAll").on("change", function () {
            previewImage(this, $("#PImageAll").prev());
        });

        //下架
        $("#deactivateBtn").on("click", function () {
            if (confirm("確定要下架該商品嗎？")) {
                // 設置 PActive 為 false
                $("input[name='PActive']").val(false);

                // 提交表單
                $("form").submit();
            }
        });</script>
}
