@model IEnumerable<goodbyecouchpotato.Models.AccessoriesList>

@{
    ViewData["Title"] = "Index";
}
@section Styles
{
    <style>
    </style>
}


<h1>商品管理</h1>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-3">
            <h5>搜尋商品</h5>
            <form>
                <div class="form-group">
                    <label for="nameSearch" class="control-label">商品名稱</label>
                    <input type="text" id="nameSearch" class="form-control" placeholder="搜尋商品名稱">
                </div>
                <div class="form-group">
                    <label for="classSearch" class="control-label">商品類別</label>
                    <select id="classSearch" class="form-control form-select">
                        <option value="">請選擇商品類別</option>
                        <option value="髮型">髮型</option>
                        <option value="衣服">衣服</option>
                        <option value="飾品">飾品</option>
                        <option value="家具">家具</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="levelSearch" class="control-label">商品等級</label>
                    <input type="number" id="levelSearch" class="form-control" placeholder="搜尋等級" min="0">
                </div>
            </form>
            <hr />
            <div class="d-grid">
                <a asp-action="Create" class="btn btn-info" type="button">新增商品</a>
            </div>
        </div>

        <div class="col-12 col-md-9">
            <table class="table table-striped jambo_table bulk_action" id="productsTable">
                <thead class="even pointer">
                    <tr class="odd pointer">
                        <th>商品名稱</th>
                        <th>商品類別</th>
                        <th>等級</th>
                        <th>操作介面</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="odd pointer">
                            <td>
                                <a asp-action="Details" asp-route-id="@item.PCode">@item.PName</a>
                            </td>
                            <td>@item.PClass</td>
                            <td>@item.PLevel</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.PCode" class="btn btn-info">編輯</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            // 商品名稱搜尋
            $('#nameSearch').on('keyup', function () {
                var value = $(this).val().toLowerCase();
                $('#productsTable tbody tr').filter(function () {
                    $(this).toggle($(this).find('td:first').text().toLowerCase().indexOf(value) > -1);
                });
            });

            // 商品類別搜尋
            $('#classSearch').on('change', function () {
                var value = $(this).val().toLowerCase();
                $('#productsTable tbody tr').filter(function () {
                    $(this).toggle($(this).find('td:nth-child(2)').text().toLowerCase().indexOf(value) > -1 || value === "");
                });
            });

            // 等級搜尋
            $('#levelSearch').on('input', function () {
                var value = $(this).val();
                $('#productsTable tbody tr').filter(function () {
                    // 獲取等級單元格的值，並進行精確比較
                    $(this).toggle($(this).find('td:nth-child(3)').text() === value || value === "");
                });
            });
        });
    </script>
}
