@model IEnumerable<goodbyecouchpotato.Areas.ReviewManagement.viewmodel.ProductReviewviewmodel>

@* @{
    ViewData["Title"] = "Index";
} *@

<h1>覆核管理</h1>
<h5>商品覆核</h5>

@if (!Model.Any())
{
    <h2 style="font-size:20px ; text-align: center;">目前無待覆核項目</h2>
}
else{

    <table class="table table-striped jambo_table bulk_action" style="width:600px ;margin-left: auto; margin-right: auto;">
        <thead class="even pointer" style="font-size:20px ; text-align: center;">
            <tr class="odd pointer">
            <th >
                   <i class="fa-solid fa-list-ol"></i> &nbsp; @Html.DisplayNameFor(model => model.PCode)
            </th>
            <th>
                <i class="fa-solid fa-cash-register"></i>&nbsp; @Html.DisplayNameFor(model => model.PName)
            </th>
            <th>
                    <i class="fas fa-wrench"></i>&nbsp;處理
            </th>            
            
        </tr>
    </thead>
    <tbody style="font-size:16px">
@foreach (var item in Model) {
                <tr class="odd pointer">
           <td style="text-align: center; vertical-align: middle;">
                @Html.DisplayFor(modelItem => item.PCode)
            </td>
            <td style=" vertical-align: middle;">
                @Html.DisplayFor(modelItem => item.PName)
            </td>
            <td>
              <!-- Button trigger modal -->
                        <button type="button" style="display: block; margin: 0 auto;" class="btn btn-info review-btn" data-pcode="@item.PCode">
                            覆核
                        </button>
                
            </td>
        </tr> }
          
    </tbody>     
    </table>
    <!-- Modal -->
    <div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="margin-top: 100px ;font-size:18px">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="taskModalLabel">商品詳細</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Task details will be loaded here -->
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-success" id="approveBtn">通過</button>
                    <button type="button" class="btn btn-danger" id="rejectBtn">拒絕</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="margin-top: 100px ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="successModalLabel">通知</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="successMessage">
                    <!-- 動態訊息將會顯示在這裡 -->
                </div>
                <div class="modal-footer">
                    <button type="button" id="confirmSuccessBtn" class="btn btn-primary">確認</button> <!-- 確認按鈕 -->
                </div>
            </div>
        </div>
    </div>



    @section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="~/js/sweetalert.js"></script>
    <script>
        $(document).ready(function () {
             $('.review-btn').click(function () {
                var taskId = $(this).data('pcode');
                // $.get('@Url.Action("Detail", "ProductReview")', { id: taskId })

                $.ajax({
                    url: '@Url.Action("Detail", "ProductReview")',
                    type: 'GET',
                    data: { id: taskId },
                    // dataType: 'html',
                })
                    .done(function (data) {
                        $('#productModal .modal-body').html(data);
                        $('#productModal').modal('show');
                        // Store the taskId for later use
                        $('#productModal').data('pcode', taskId);
                    })
                    .fail(function (xhr, status, error) {
                        console.error("Error fetching task details:", error);
                        alert("無法獲取任務詳情，請稍後再試。");
                    });
            });


            $('#approveBtn').click(function () {
                var taskId = $('#productModal').data('pcode');
                $.post('@Url.Action("ApproveTask", "ProductReview")', { id: taskId })
                    .done(function (response) {
                        if (response.success) {
                            var messagetype = response.message != null ? response.message : null;
                            if (messagetype != null) {
                                sweetalertreview(messagetype)
                            };
                            // $('#successMessage').text(response.message);  // 顯示成功訊息
                            // $('#successModal').modal('show');  // 顯示成功模態框
                        } else {
                               var messagetype = response.message != null ? response.message : null;
                               if (messagetype != null) {
                                sweetalertreview(messagetype)
                            };
                            // $('#successMessage').text("覆核失敗: " + response.message);
                            // $('#successModal').modal('show');
                        }
                    })
                    .fail(function (xhr, status, error) {
                        console.error("Error rejecting task:", error);
                        $('#successMessage').text("拒絕任務失敗，請稍後再試。");
                        $('#successModal').modal('show');
                    });
            });

            $('#rejectBtn').click(function () {
                var taskId = $('#productModal').data('pcode');
                $.post('@Url.Action("RejectTask", "ProductReview")', { id: taskId })
                    .done(function (response) {
                        if (response.success) {
                            var messagetype = response.message != null ? response.message : null;
                            if (messagetype != null) {
                                sweetalertreview(messagetype)
                            };
                            // $('#successMessage').text(response.message);  顯示成功訊息
                            // $('#successModal').modal('show');  顯示成功模態框
                        } else {
                                                        var messagetype = response.message != null ? response.message : null;
                              if (messagetype != null) {
                                sweetalertreview(messagetype)
                            };
                            // $('#successMessage').text("覆核失敗: " + response.message);
                            // $('#successModal').modal('show');
                        }
                    })
                    .fail(function (xhr, status, error) {
                        console.error("Error rejecting task:", error);
                        $('#successMessage').text("拒絕任務失敗，請稍後再試。");
                        $('#successModal').modal('show');
                    });
            });

            // $('#confirmSuccessBtn').click(function () {
            //     $('#successModal').modal('hide');  // 關閉成功模態框
            //     $('#taskModal').modal('hide');  // 關閉任務詳細模態框
            //     location.reload();  // 刷新頁面
            // })

            
           

        });
    </script>
    }}


   