@model IEnumerable<_SearchViewModel>
@* 因為要使用在viewmodel的設定，所以這張文件所參考的屬性是_SearchViewModel，而不是原始的Model，這樣才可以引用viewmodel的東西
 *@

<table class="table ">
    <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                @Html.DisplayFor(modelItem => item.TaskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reward)
            </td>
            <td>

               @Html.DisplayFor(modelItem => item.TaskActiveDisplay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TReviewStatus)
            </td>
            @if (User.IsInRole("Admin") || User.IsInRole("PermiGuard"))
             {
            <td>
            <a class="btn btn-info" asp-action="Edit" asp-route-id=@item.TaskId>編輯</a>
            </td>
             }
        </tr>
            }
        }
        else
        {
            <tr><td colspan="5">No tasks found.</td></tr>
        }
    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">

        @if (@ViewBag.currentpages - 1 > 0)
        {
            <li class="page-item">
                <a class="page-link" data-page="@ViewBag.currentpages-1">上一頁</a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <a class="page-link">第一頁</a>
                </li>
        }
        
        @for (int i = 1; i <= @ViewBag.totalpages; i++)
        {
            <li class="page-item @(@ViewBag.currentpages==i ? "active" : "")">
                <a class="page-link" href="#" data-page="@i">@i</a>
            </li>
        }
        @if (@ViewBag.currentpages + 1 < @ViewBag.totalpages)
        {
            <li class="page-item">
                <a class="page-link" data-page="@ViewBag.currentpages-1">下一頁</a>
            </li>
        }
        else
        {   <li class="page-item disabled">
            <a class="page-link">最後一頁</a>
            </li>
        }
    </ul>
</nav>