@page
@model RegisterModel
@* @{
    ViewData["Title"] = "註冊管理員";
} *@

<h1>註冊管理員</h1>

<div class="row">
    <div class="col-md-4 formcenter">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>新增管理員帳號</h2>
            <hr />
             <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input id="emailInput" asp-for="Input.Email" class="form-control" autocomplete="off" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">@Html.DisplayNameFor(m => m.Input.Email)</label>
                <span asp-validation-for="Input.Email" class="text-danger" id="validation"></span>
                <div id="reserch"></div>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Password" id="inputpassword" class="form-control" autocomplete="off" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">@Html.DisplayNameFor(m => m.Input.Password)</label>
                <span id="newpassword" class="text-danger"></span>
                <span asp-validation-for="Input.Password" class="text-danger" id="oldpassword"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="off" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">@Html.DisplayNameFor(m => m.Input.ConfirmPassword)</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <select asp-for="Input.Role" asp-items=" Model.RoleList" class="form-control" aria-required="true"></select>
                <label asp-for="Input.Role">@Html.DisplayNameFor(m => m.Input.Role)</label>
                <span asp-validation-for="Input.Role" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-info">新增</button>
        </form>
    </div>
    <a asp-area="AdministratorManagement" asp-controller="Administrators" asp-action="Index">返回管理員列表</a>
 @*    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div> *@
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/sweetalert.js"></script>
    <script>
        $(document).ready(function () {
            var messagetype = '@TempData["Register"]' != "" ? '@TempData["Register"]' : null;
            if (messagetype != null) {
                sweetalert(messagetype);
            };
        });

        $("#inputpassword").on('keyup', function () {
            var value = $(this).val();
            if (/^\d+$/.test(value)) {
                $("#newpassword").html("密碼須包含特殊字元\n");
                $("#oldpassword").hide();
            }
            else if(!/[A-Z]/.test(value)||!/[a-z]/.test(value)){
                $("#newpassword").html("密碼須包含大寫及小寫字母\n");
                $("#oldpassword").hide();
            }
            else{
                $("#newpassword").html("");
                $("#oldpassword").show();
            }
            })
            </script>
}
